{% extends 'upload/base.html' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-12 col-md-7">
				<div class="panel panel-default">
					<div class="panel-body">

						

                            
                                <li>
                                    <a class='label label-default' href="/tags/region/">Region</a>
                                </li>
                            
                                <li>
                                    <a class="label label-primary" href="/tags/ciudad/">Ciudad</a>
                                </li>
                            
                                <li>
                                    <a class="label label-success" href="/tags/codine/">CODINE</a>
                                </li>
                            



						
						

					</div>
					


				</div>


			</div>


		</div>
	</div>
{% endblock %}
							
