{% extends 'upload/base.html' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-12 col-md-7">
				<div class="panel panel-default">
					<div class="panel-body">

						<form method="get" action="/search/">
          

							<label for="id_q">Search:</label>
							           <input type="text" name="q" id="id_q"/>
							           <input type="submit" value="Submit"/>

							      <div class="body clearfix">
                            <ul class="tags">
                            
                                <li>
                                    <a href="/tags/region/">Region</a>
                                </li>
                            
                                <li>
                                    <a href="/tags/ciudad/">Ciudad</a>
                                </li>
                            
                                <li>
                                    <a href="/tags/codine/">CODINE</a>
                                </li>
                            </div>


				        </form>


						
						

					</div>
					


				</div>


			</div>


		</div>
	</div>
{% endblock %}
							
